spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/transaction_db
    username: postgres
    password: postgres

  kafka:
    bootstrap-servers: kafka:9092

  redis:
    host: redis
    port: 6379

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  tracing:
    sampling:
      probability: 1.0
  zipkin:
    tracing:
      endpoint: ${ZIPKIN_URL:http://zipkin:9411/api/v2/spans}
