spring:
  datasource:
    url: jdbc:postgresql://postgres:5432/banking_transfers
    username: postgres
    password: postgres

  data:
    redis:
      host: redis
      port: 6379

  kafka:
    bootstrap-servers: kafka:29092

server:
  port: 8082

eureka:
  client:
    service-url:
      defaultZone: http://eureka-server:8761/eureka/
  instance:
    prefer-ip-address: true
    hostname: transfer-service

management:
  endpoints:
    web:
      exposure:
        include: health,info,metrics,prometheus
  tracing:
    sampling:
      probability: 1.0

logging:
  level:
    com.banking.transfer: INFO
    org.springframework.web: WARN
    org.hibernate: WARN